@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Inter", sans-serif;
}


.background{
  width: 430px;
  height: 932px; 
  height: 100vh; 
  flex-shrink: 0;
  background: linear-gradient(180deg, #0077BE 37.53%, rgba(0, 119, 190, 0.00) 99.98%);
  
  
}

.info-container{
  width: 411px;
  height: 837px;
  flex-shrink: 0;
  border-radius: 35px;
  position: relative;
  top: 11px;
  right: 10px;
  left: 9px;
  bottom: 84px;
  background: rgba(1, 120, 191, 0.28);
} 

.info{
  width: 367px;
  height: 763px;
  flex-shrink: 0;
  border-radius: 35px;
  position: relative;
  top: 49px;
  right: 22px;
  left: 22px;
  bottom: 25px;
  background: rgba(0, 0, 0, 0.83);
}

.info p{
  margin: 0;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.374px;
}

.nav-bar{
  width: 383px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 57px;
  position: absolute;
  top: 858px;
  right: 23px;
  left: 24px;
  bottom: 21px;
  background: rgba(0, 0, 0, 0.83);
}

.home{
  width: 43px;
  height: 43px;
  flex-shrink: 0;
  position: relative;
  top: 2px;
  right: 315px;
  bottom: 8px;
  left: 25px;
}

.burger{
  width: 43px;
  height: 43px;
  flex-shrink: 0;
  position: absolute;
  top: 5px;
  right: 171px;
  bottom: 5px;
  left: 169px;
  background-color: white;
  border-radius: 2rem;
}


.location{
  width: 19.708px;
  height: 25.083px;
  flex-shrink: 0;
  fill: #FFF;
  position: absolute;
  top: 14px;
  right: 31.3px;
  bottom: 13.9px;
  left: 332px;
} 

#SearchBar{
  width: 369px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.83);
  
}
input, select, textarea{
  color: white;
}

textarea:focus, input:focus {
  color: white;
}

#SearchButton{
  background-image: url(Assets/search.png);
  width: 30px;
  height: 28px;
  background-size: contain;
  border: none;
  background-color:#0077BE ;
  

}

#SearchEntry{
  width: 334px;
  height: 186px;
  border-radius: 34px;
  background: #161616;
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.35);
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  font-size: small;
  color: white;
}

#City{
  position: relative;
  top: -20px;
  left: 20px;
  text-transform: capitalize;
  max-height: 1px;
/* text shadow normal */
  color: #FFF;
  font-feature-settings: 'case' on;
  font-family: "SF Pro Text";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 129.412% */
  letter-spacing: 0.092px;
}

#Temp{
  position: relative;
  top: -50px;
  left:20px;
  font-family: "SF Pro Text";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 38.5px; /* 33.594% */
  letter-spacing: -2.408px;
  background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 223.47%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#Desc{
  position: relative;
  top: -90px;
  left: 20px;
  color: #FFF;
  text-transform: capitalize;
  font-family: "SF Pro Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.5px; /* 179.167% */
  letter-spacing: 0.592px;
}

#Wind{
  position: relative;
  top: -270px;
  left: 200px;
  color: #FFF;
  text-transform: capitalize;
  font-family: "SF Pro Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.5px; /* 179.167% */
  letter-spacing: 0.592px;
}

#Feels{
  position: relative;
  top: -180px;
  left: 200px;
  text-transform: capitalize;
  font-family: "SF Pro Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.5px; /* 179.167% */
  letter-spacing: 0.592px;
}

#Pres{
  position: relative; 
  left: 200px;
  top: -317px;
  text-transform: capitalize;
  font-family: "SF Pro Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.5px; /* 179.167% */
  letter-spacing: 0.592px;
}

#Hum{
  position: relative;
  left: 200px;
  top: -320px;
  text-transform: capitalize;
  font-family: "SF Pro Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.5px; /* 179.167% */
  letter-spacing: 0.592px;
}

.button{
  border: none;
  background: transparent;

}

.search-history-container {
  position: absolute;
  top: 110px; /* Adjust as needed */
  left: 30px; /* Adjust as needed */
  display: block;
  flex-direction: column;

}

.search-history {
  
  position: relative;
}

.form-container {
  display: flex;
  align-items: center; /* Center items vertically */
  position:absolute;
  top: 60px;
  left: 10px;
}

.input-field {
  flex: 1; /* Take remaining space */
}