.days{
    text-align: center;
    letter-spacing: 20px;
}

.day-date {
    display: inline-block; 
    margin-right: 10px;     
}
.dateOfWeek{
    padding: 0.2rem;
}
.dateOfWeek-current {
    color: black !important;
    background-color: white;
    border-radius: 4rem;
    padding: 0.2rem;
}

.link-container{
    position: absolute;
    top: 45%; /* Position at the vertical center */
    left: 50%; /* Position at the horizontal center */
    transform: translate(-50%, -50%); /* Center the container */
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    font-size: 2rem;
    border: solid white;
    padding: 1rem;
    border-radius: 2rem;
    
}

.link-container a{
    color:#FFF;
    text-decoration: none;

    
}

#wind1{
    width: 65px;
    height: 65px;
    flex-shrink: 0;
    position: absolute;
    top: 560px;
    right: 274px;
    left: 28px;
    bottom: 138px;
}

#wind-speed{
    display: flex;
    width: 257px;
    height: 45px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-size: 25px;
    position: absolute;
    top: 570px;
    right: 28px;
    left: 82px;
    bottom: 148px;
}

#wind2{
    width: 65px;
    height: 65px;
    flex-shrink: 0;
    position: absolute;
    top: 625px;
    right: 274px;
    left: 28px;
    bottom: 73px;
}

#wind-deg{
    display: flex;
    width: 257px;
    height: 45px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-size: 25px;
    position: absolute;
    top: 635px;
    right: 28px;
    left: 82px;
    bottom: 83px;
}

.dots-and-arrows-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Adjust margin as needed */
    position: absolute;
    bottom: 25px;
    right: 23px;
    left: 24px;
  }
  
  .dots {
    margin: 0 10px;
    font-size: 18px;
    color: #FFF;
  }
  
  .right-arrow{
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
